
*{
   margin: 0%;
   padding: 0%;
}
.nav ul {
   margin: 0;
}
.nav li {
   display: inline-block;
}
.nav  a {
   display: inline-block;
   padding: .5em;
   color: rgb(255, 255, 255);
   text-decoration: none;
}
.main-nav {
   text-align: center;
   font-size: 1.1em;
   font-weight: lighter;
   border-bottom: 1px solid rgba(255, 255, 255, .3)
}
.main-header {
   
   background-color: rgba(0, 0, 0, .6);
   background-image: url("Images/Image1.png");
   background-blend-mode: multiply;
   background-size: cover;
   padding-bottom: 30px;
}
.resto-name {
   text-align: center;
   top: 10%;
    transform: translate(-50%,-50%);
    transform: rotate(-15deg);
   margin: 20%;
   font-size: 4em;
   font-family: "Booter - Zero Zero";
   font-weight: normal;
   color: white;
}

#btn1{
   padding: 1%;
   position: absolute;
    left: 20%;
    bottom: 8%;
}
#btn2{
   padding: 1%;
   position: absolute;
    right: 20%;
    bottom: 8%;
}
#tagline{
   text-align: center;
   color: blanchedalmond;
}
#abt-container{
   margin-left: 20%;
   max-width: 50%;
}
.content-abt-container{
   background-color: cadetblue;
   padding-bottom: 30px;
}
.abt-img {
   margin-left: 10%;
   float: right;
   height: 300px;
   width: 300px;
}
.abt-header{
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
}
.abt-para1{
   text-align: justify;
   font-size: large;
   font-weight: 400;
 }  
 
.resto-name-footer{
   font-size: x-large;
}

[src $="logo.png"]{
   width: 50px;
   height: 50px;
}
 
footer{
   padding-top: 15%;
   background-color:cadetblue ;
   text-align: center;
   font-size: 900;
}